name: Continuous Integration

on:
  push:
    branches:
      - main
      - actions-*
  pull_request:
    branches-ignore:
      - actions-*
  workflow_dispatch:

env:
  BUNDLE_CLEAN: "true"
  BUNDLE_PATH: vendor/bundle
  BUNDLE_JOBS: 3
  BUNDLE_RETRY: 3

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "ruby"
            standardrb: true
            yard: true
          - ruby: "4.0"
            appraisal: "sidekiq_8"
          - ruby: "3.3"
            appraisal: "sidekiq_8.0"
          - ruby: "3.2"
            appraisal: "sidekiq_7"
          - ruby: "3.1"
            appraisal: "sidekiq_7.0"
          - ruby: "3.0"
            appraisal: "sidekiq_6"
          - ruby: "2.7"
            appraisal: "sidekiq_6.0"
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
    - name: Setup bundler
      if: matrix.bundler != ''
      run: |
        gem uninstall bundler --all
        gem install bundler --no-document --version ${{ matrix.bundler }}
    - name: Set Appraisal bundle
      if: matrix.appraisal != ''
      run: |
        echo "using gemfile gemfiles/${{ matrix.appraisal }}.gemfile"
        bundle config set gemfile "gemfiles/${{ matrix.appraisal }}.gemfile"
    - name: Install gems
      run: |
        bundle update
    - name: Run Tests
      run: bundle exec rake
    - name: standardrb
      if:   matrix.standardrb == true
      run:  bundle exec standardrb
    - name: yard
      if:   matrix.yard == true
      run:  bundle exec yard doc --fail-on-warning
